<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>pattTb0FLB4LispRW.e0d994a82198c8f0e59d5879e87272323c64ed63d16326f360949b58f3e99bec</string>
</dict>
</plist>
